<body>
  <div>
    <app-product [imageName]="'Ноутбуки'" [imageSrc]="'../assets/Ноутбуки.png'"></app-product>
    <app-product [imageName]="'Компьютеры'" [imageSrc]="'../assets/Компьютеры.png'"></app-product>
    <app-product [imageName]="'Мониторы'" [imageSrc]="'../assets/Мониторы.png'"></app-product>
    <app-product [imageName]="'Gaming'" [imageSrc]="'../assets/Gaming.png'"></app-product>
    <app-product [imageName]="'Планшеты'" [imageSrc]="'../assets/Планшеты.png'"></app-product>
    <app-product [imageName]="'Кабели и переходники'" [imageSrc]="'../assets/Кабели и переходники.png'"></app-product>
    <app-product [imageName]="'Компьютерные комплектующие'" [imageSrc]="'../assets/Компьютерные комплектующие.png'"></app-product>
    <app-product [imageName]="'Сетевое оборудование'" [imageSrc]="'../assets/Сетевое оборудование.png'"></app-product>
    <app-product [imageName]="'Наушники и аксессуары'" [imageSrc]="'../assets/Наушники и аксессуары.png'"></app-product>
    <app-product [imageName]="'Клавиатуры и мыши'" [imageSrc]="'../assets/Клавиатуры и мыши.png'"></app-product>
    <app-product [imageName]="'Аксессуары для электроники'" [imageSrc]="'../assets/Аксессуары для электроники.png'"></app-product>
    <app-product [imageName]="'Оргтехника'" [imageSrc]="'../assets/Оргтехника.png'"></app-product>
  </div>
</body>