<body>
    <h1>{{ Name }}</h1>
    
    <div>
        <h2>Образование</h2>
        <ol>
            <li>
                <h3>{{Education1}}</h3>
                <p>{{EducationPeriod1}}</p>
            </li>
            <li>
                <h3>{{Education2}}</h3>
                <p>{{EducationPeriod2}}</p>
            </li>
        </ol>
    </div>

    <div>
        <h2>Навыки</h2>
        <ul>
            <li>{{ Skills[0] }}</li>
            <li>{{ Skills[1] }}</li>
            <li>{{ Skills[2] }}</li>
            <li>{{ Skills[3] }}</li>
        </ul>
    </div>

    <div>
        <h2>Проекты</h2>
        <ol>
            <li>
                <h3>{{ProjectInfo1[0]}}</h3>
                <p>{{ProjectInfo1[1]}}</p>
                <p>{{ProjectInfo1[2]}}</p>
            </li>
            <li>
                <h3>{{ProjectInfo2[0]}}</h3>
                <p>{{ProjectInfo2[1]}}</p>
                <p>{{ProjectInfo2[2]}}</p>
            </li>
        </ol>
    </div>

    <div>
        <h2>Языки</h2>
        <ul>
            <li>{{Languages[0]}}</li>
            <li>{{Languages[1]}}</li>
            <li>{{Languages[2]}}</li>
        </ul>
    </div>

    <p>{{ContactInfo}}</p>
</body>