<div class="mainBlock">

    <div class="column left">
        <div class="aside">
            <p>Aside 1</p>
        </div>
        <div class="aside">
            <p>Aside 2</p>
        </div>
    </div>

    
    <div class="mainContent">
        <p>Main content</p>

        <div class="section">
            <p>Section 1</p>
        </div>

        <div class="section">
            <p>Section 2</p>
        </div>
        
    </div>
    
    <div class="column right">
        <div class="aside">
            <p>Aside 3</p>
        </div>
    </div>
    
</div>