<div class="products">
    <app-card-block [ProductName]='products[0].name' [ProductPrice]='products[0].price' [ProductDescription]='products[0].description'></app-card-block>
    <app-card-block [ProductName]='products[1].name' [ProductPrice]='products[1].price' [ProductDescription]='products[1].description'></app-card-block>
    <app-card-block [ProductName]='products[2].name' [ProductPrice]='products[2].price' [ProductDescription]='products[2].description'></app-card-block>
    <app-card-block [ProductName]='products[3].name' [ProductPrice]='products[3].price' [ProductDescription]='products[3].description'></app-card-block>
    <app-card-block [ProductName]='products[4].name' [ProductPrice]='products[4].price' [ProductDescription]='products[4].description'></app-card-block>
</div>