.header
{
    background-color: #923158;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.menu
{
    background-color: #6E1237;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}