<nav>
    <a routerLink="apple"><img src="../assets/apple.png" alt="Apple"></a>
    <a routerLink="asus"><img src="../assets/asus.png" alt="Asus"></a>
    <a routerLink="hp"><img src="../assets/hp.png" alt="HP"></a>
    <a routerLink="acer"><img src="../assets/acer.png" alt="Acer"></a>
    <a routerLink="lenovo"><img src="../assets/lenovo.png" alt="Lenovo"></a>
    <a routerLink="samsung"><img src="../assets/samsung.png" alt="Samsung"></a>
    <a routerLink="dell"><img src="../assets/dell.png" alt="Dell"></a>
    <a routerLink="canon"><img src="../assets/canon.png" alt="Canon"></a>
    <a routerLink="tp-link"><img src="../assets/tp-link.png" alt="Tp-Link"></a>
    <a routerLink="logitech"><img src="../assets/logitech.png" alt="Logitech"></a>
</nav>